#cim{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
#real{
    text-align: center;
    font-size: large;
}
body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
table{
    box-shadow: 3px 3px 3px whitesmoke;
    border: whitesmoke;
}
li{
    font-style: italic;
}
h1,h2,h3 {
    font-weight: bold;
}
